@media only screen and (min-width: 340px) and (max-width: 650px){
.about-us {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.img {
    margin:5% 2% 0 0;
}
.img::before {
    padding: 23%;
}
.img-me {
    width: 40%;
}
.img {
    margin-top: 5%;
}
.about-me h1 {
    font-size: 1.3rem;
    font-weight: 900;
}
.about-me p {
    line-height: 25px;
    color: black;
    width: 52%;
}
.Target h2 {
    font-size: 1.3em;
    margin: 2%;
    display: inline;
    font-weight: 900;
}
.Target p {
    font-size: 1em;
    margin: 2%;
    line-height: 30px;
    display: inline;
    background: linear-gradient(250deg, #aa076b,#c20a7c, #7f077c);
    border-radius: 50px 50px;
    padding: 3% 8% 6% 10%;
    margin: 3% 2% 2%;
}




}
@media only screen and (min-width: 651px) and (max-width: 1000px){
.img-me {
    width: 25%;
}
.img {
    margin-top: 1%;
}
.img::before {
    padding: 14%;

}
.about-me h1 {
    font-size: 1.8em;
    margin: 2%;
    display: inline;
    font-weight: 900;
}
.about-me p {
    background: linear-gradient(250deg, #aa076b,#c20a7c, #7f077c);
    border-radius: 280px 90px 100px;
    padding:3% 5% 6% 16%;
    margin: 3% 2% 2%;
    line-height: 45px;
    font-size: 1.2em;
}
.Target h2 {
    font-size: 1.5em;
    margin: 2%;
    display: inline;
    font-weight: 900;
}
.Target p {
    font-size: 1.2em;
    margin: 2%;
    line-height: 40px;
    display: inline;
    background: linear-gradient(250deg, #aa076b,#c20a7c, #7f077c);
    border-radius: 250px 95px 50px;
    padding: 3% 5% 6% 16%;
    margin: 3% 2% 2%;
    line-height: 45px;
}




}
@media only screen and (min-width: 1001px){
.img-me {
    width: 20%;
}
.img {
    margin-top: 1%;
}
.about-me h1 {
    font-size: 2.5em;
    margin: 2%;
    display: inline;
    font-weight: 900;
}
.about-me p {
    background: linear-gradient(250deg, #aa076b,#c20a7c, #7f077c);
    border-radius: 450px 95px;
    padding: 3% 8% 6% 10%;
    margin: 3% 2% 2%;
    line-height: 55px;
    font-size: 1.2em;
}
.Target h2 {
    font-size: 2em;
    margin: 2%;
    display: inline;
    font-weight: 900;
    text-align: center;
}
.Target p {
    font-size: 1.2em;
    margin: 2%;
    line-height: 40px;
    display: inline;
    background: linear-gradient(250deg, #aa076b,#c20a7c, #7f077c);
    border-radius: 450px 95px;
    padding: 3% 10% 6% 11%;
    margin: 3% 2% 2%;
    line-height: 55px;
}
}